<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Currently Courses being offered:
    <ul>
        <% for(var offering of course_offerings) { %>
        <li> 
            <div>
                <a href="/enroll/<%= offering.id %>"> <%= offering.title %></a> offered by <%= offering.instructor_name %></div></li>
        <% } %>
    </ul> 
</body>
</html>